{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form>
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.imageFile) }}
            </div>

            <div class="form-group">
                {{ form_row(form.Date) }}
            </div>

            <div class="form-group">
                {{ form_row(form.Caption) }}
            </div>

            <button type="submit" class="btn btn-primary">Ajouter l'image</button>

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}