{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_row(form.imageFile) }}
        </div>

        <div class="form-group">
            {{ form_row(form.date) }}
        </div>

        <div class="form-group">
            {{ form_row(form.caption) }}
        </div>

        <div class="form-group">
            {{ form_row(form.album) }}
        </div>

        <button type="submit" class="btn btn-primary">Ajouter l'image</button>

        {{ form_end(form) }}
    </div>
{% endblock %}