{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.date) }}
            </div>

            <div class="form-group">
                {{ form_row(form.caption) }}
            </div>

            <button type="submit" class="btn btn-primary">Créer l'Album</button>

            {{ form_end(form) }}
    </div>
{% endblock %}