{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-6 img-split p-0 album">
            </div>

            <div class="col-sm-6 page-block">
                <div class="menu-sm">
                    {% include 'menu/menu.html.twig' %}
                </div>

                <h1 class="d-5 font-title">Album</h1>

                <div class="font-txt d-3">
                    <p>Chaque voyage au village de Ndiamane apporte son lot de photos<br><br>
                        Revivez ces moments <span class="bold">inoubliables</span> avec nous
                    </p>

                </div>

                <div class="d-4 row col-al">
                    {% for album in album %}
                        <div class="col-6">
                            <div>
                                <img src="{{ vich_uploader_asset(random(album.picture), 'imageFile') | imagine_filter('album_thumb') }}" alt="{{ album }}">
                            </div>
                            <a href="{{ path('album_show', {'id': album.id}) }}" class="btn btn-lg btn-album" role="button">
                                {{ album }}
                            </a>
                            <p class="bold font-txt txt-album">
                                {{ album.date|date('d/m/Y') }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-4 col-sm-al">
                    {% for album in album %}
                        <div class="">
                            <div>
                                <img src="{{ vich_uploader_asset(random(album.picture), 'imageFile') | imagine_filter('album_thumb') }}" alt="{{ album }}">
                            </div>
                            <a href="{{ path('album_show', {'id': album.id}) }}" class="btn btn-lg btn-album" role="button">
                                {{ album }}
                            </a>
                            <p class="bold font-txt txt-album">
                                {{ album.date|date('d/m/Y') }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-4-4">
                    {% if (page == 1) %}
                        <a href="{{ path('album', {page: page + 1}) }}"><img src="{{ asset('css/ico/right-chevron.png') }}" alt="right chevron"></a>
                    {% elseif (maxPage > 1 and page != 1) %}
                        <a href="{{ path('album', {page: page - 1}) }}"><img src="{{ asset('css/ico/left-chevron.png') }}" alt="left chevron"></a>

                        <a href="{{ path('album', {page: page + 1}) }}"><img src="{{ asset('css/ico/right-chevron.png') }}" alt="right chevron"></a>
                    {% endif %}
                </div>

                <footer class="b-1"> Les Minots de Ndiamane &copy; 2019</footer>

            </div>
        </div>
    </div>
{% endblock %}